.App {
    text-align: center;   
    background-color: black; 
  }

  img {
    width: 200px;
    margin: 10px;
  }
   .image-style {
    width: 50px;
    height: 50px;
    z-index: 1;
  }

  .App-header {
    position: relative;
    background: linear-gradient(rgba(12, 12, 12, 0.6), rgba(0, 0, 0, 0.56)),
                url('https://firebasestorage.googleapis.com/v0/b/kaswa-1d3ad.appspot.com/o/images%2Fbg%2FPi7compressed20200811_140013.png?alt=media&token=87288f2f-f9d1-492a-9c3e-5306ab1acea3') center/cover no-repeat;               
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(248, 248, 248);
    background-size: 50vh;
  }


 
/* Pseudo-element for the background overlay */
  .App-header::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(29, 29, 29, 0.2), rgba(16, 16, 16, 0.1));
  }


/* Style for the quote */
.quote{
  margin: 0 0;
  font-style: italic;
  color: #ffffff;
  box-shadow: #333;
  z-index: 1;
  
}

/* Style for the Quran reference */
.quote p:last-child {
  
  margin-top: 1px;
  padding: 0;
}

/* Style for the welcome message */
.welcome-message {
  padding-top: 100px;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}
